<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h2><%= title %></h2>
  <a href="https://etherscan.io/token/0x113f0807a2557f54478a13219B097b5FA85CEA7f" target="_blank">合约地址</a>
</body>
</html>